body {
  font-family: 'Ubuntu', sans-serif;
}

img {
  vertical-align: middle;
  padding: 0 0.5em;
}

nav {
  padding-bottom: 1em;
  padding-right: 1em;
}

.error {
  width: 100%;
  position: fixed;
}

section.opcoes select {
  min-width: 12em;
}

/*
section.opcoes {
  display: none;
}
*/


nav.opcoes {
  display: none;
}


.erros {
  position: fixed;
}

.video p {
  padding-left: 140px;
}

input[type="text"] {
  width: 50em;
}

.opcoes select {
  margin-left: 0.7em;
}

.opcoes  form {
  display: inline-block;
  min-width: 20%;
}

.lista textarea {
  width: 50em;
  height: 2em;
}